
  .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navi {
  float: left;
}

.navi a {
  display: block;
  color: white;
  text-align: center;
 
  text-decoration: none;
}

.navi a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

